*.parquet filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*model*.txt filter=lfs diff=lfs merge=lfs -text
data/raw/techcorp/*.db filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
week3/data/*.parquet !text !filter !merge !diff
week2/data/demand_enriched.parquet !text !filter !merge !diff
week2/backend/zone_hour_avg_fare.parquet !text !filter !merge !diff
week2/metadata/Lookups/taxi_zone_lookup.csv !text !filter !merge !diff
week2/model/lgbm_demand_model.txt !text !filter !merge !diff
week3/backend/requirements.txt !text !filter !merge !diff
week4/data/demand_enriched_baseline.parquet !text !filter !merge !diff
week4/data/demand_enriched_week3.parquet !text !filter !merge !diff
week4/data/demand_enriched_week4.parquet !text !filter !merge !diff
week5/data/techcorp.db !text !filter !merge !diff
week5/requirements.txt !text !filter !merge !diff
week6/requirements.txt !text !filter !merge !diff
week7/requirements.txt !text !filter !merge !diff
